{% extends 'base.html' %}
{% block title %}Connect with Us - FlaskSite{% endblock %}
{% block content %}
<header class="banner mb-5 mt-4">
  <img src="{{ url_for('static', filename='images/dog_girl.jpg') }}" alt="Social Media Banner">
  <div class="banner-text">
    <h1>Follow Us</h1>
    <p>Stay connected with our latest updates and content.</p>
  </div>
</header>

<div class="section text-center">
  <div class="row justify-content-center">
    {% set social_links = [
      {'name': 'Facebook', 'url': 'https://facebook.com', 'icon': 'fb.png'},
      {'name': 'Instagram', 'url': 'https://instagram.com', 'icon': 'insta.png'},
      {'name': 'YouTube', 'url': 'https://youtube.com', 'icon': 'youtube.png'},
      {'name': 'WhatsApp', 'url': 'https://wa.me/919876543210', 'icon': 'wp.png'},
    ] %}
    
    {% for media in social_links %}
    <div class="col-6 col-md-3 mb-4">
      <a href="{{ media.url }}" target="_blank" class="social-card d-block text-decoration-none">
        <div class="p-3 shadow rounded bg-white h-100">
          <img src="{{ url_for('static', filename='images/logo/' ~ media.icon) }}" alt="{{ media.name }}" class="img-fluid social-icon mb-2">
          <p class="mb-0 fw-semibold text-dark">{{ media.name }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
